@font-face {
    font-family: "Gilroy-ex-bold";
    src: url("/fonts/Gilroy-ExtraBold.ttf");
    font-style: bold;
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy-bold";
    src: url("/fonts/Gilroy-Bold.ttf");
    font-style: bold;
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy-semi-bold";
    src: url("/fonts/Gilroy-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Gilroy-medium";
    src: url("/fonts/Gilroy-Medium.ttf");
    font-style: normal;
}
@font-face {
    font-family: "Gilroy-regular";
    src: url("/fonts/Gilroy-Regular.ttf");
    font-style: normal;
}
@font-face {
    font-family: "Gabriela";
    src: url("/fonts/Gabriela-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}
:root {
    /* colors */
    --font-orange: #f59700;
    --bg-grey: #e5e5e5;
    --white: #fff;
    --dark: #182245;
    --yellow: #F3D4A0;
}
.txt-orange {
    color: var(--font-orange);
}
html {
    font-family: "Gilroy";
}
body {
    height: 100%;
    width: 100vw;
    font-family: "Gilroy";
    overflow-x: hidden;
    background: var(--bg-grey);
}
.container {
    display: flex;
    justify-content: center;
}
.content {
    margin: 0 19px;
    z-index: 1;
}
.btn-default {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    color: var(--white);
    font-family: "Gilroy-bold";
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background: var(--font-orange);
    width: 200px;
    height: 60px;
    border-radius: 5px;
    font-size: 16px;
    margin: 24px 0;
}
.content .logo {
    display: flex;
    justify-content: center;
    height: 213px;
    width: 100%;
}
.content .logo img {
    position: absolute;
    width: 268px;
    height: 213px;
    top: 0px;
}
.content .bg-yellow-mobi img {
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: -1;
}
.container .bg-yellow-desk {
    display: none;
}
.content .info-video {
    display: flex;
    flex-direction: column;
}
.content .info-video .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.content .info-video .info h2{
    font-size: 24px;
    color: var(--font-orange);
    margin: 16px 0;
    
}
.content .info-video .info p{
    font-size: 20px;
}
.content .info-video .video{
    width: 100%;
    position: relative;
    height: 159px;
    bottom: 38px;
}
.content .info .vertical-line {
    width: 1px;
    height: 142px;
    background: var(--font-orange);
    margin: 25px 0;    
}
.content .typewriter .info h2 {
    font-family: "Gilroy-bold";
    line-height: 1.2;
    font-size: 24px;
    color: var(--font-dark);
    margin: 16px 0;
}
.content .info p {
    font-family: "Gilroy";
    font-size: 16px;
    line-height: 1.2;
}
.content .info img {
    width: 100%;
    height: 159px;
    object-fit: contain;
}
.content .info .img-mobile {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 57px 0;
}
.content .typewriter {
    width: 100%;
    margin: 24px 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.content .typewriter .machine {
    width: 244px;
    height: 212px;
    object-fit: contain;
}

.content .typewriter .book {
    display: none;
}
.content .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards .card {
    font-family: "Gilroy";
    background-color: var(--white);
    position: relative;
    width: 100%;
    top: 45px;
    position: relative;
    margin-bottom: 48px ;
    
}
.cards .card .n-impar, 
.cards .card .n-par{
    display: none;
}
.cards .card .content-card .title {
    font-size: 20px;
    font-weight: bold;
    margin: 16px 0;
    color: var(--font-orange);
}
.cards .card .content-card .subtitle {
    font-size: 20px;
    margin-bottom: 26px;
    
}
.cards .card .content-card {
    padding: 35px 23px;
}
.cards .card .content-card ul {
    list-style: none;
}
.cards .card .content-card ul li {
    margin: 16px 0;
    
}
.content .infos .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.content .infos .info h2{
    font-size: 24px;
    line-height: 1.2;
    margin: 25px 0;
}
.content .plans .bg-blue-mobi{
    position: absolute;
    left: 0px;
    width: 100%;
    z-index: -1;
}
.content .plans .bg-blue-mobi img{
    max-height: 1440px;
    width: 100vw;
    
}
.content .plans .info1-plans {
    margin-top: 70px;
    text-align: center;
}
.content .plans h2{
    color: var(--yellow);
    font-size: 24px;
}
.content .infos .info2 {
    padding: 70px 0;
}
.content .infos .info2 .row h2{
    font-family: "Gabriela";
    color: var(--font-orange);
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 16px;
}
.content .infos .info2 .row p {
    font-family: "Gilroy";
    line-height: 1.5;
    margin: 24px 0
}
.content .infos .info2 .row .btn-default {
    margin-top: 24px;
}
.content .infos .info2 .note-desk {
    display: none;
}
.content .infos .info .info-img2 {
    margin: 57px 0;
}
.content .plans {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .plans p{
    color: var(--white);
}
.content .plans .bg-blue-desk {
    display: none;
}
.content .plans .row-card-plan img {
    display: none;
}

.content .plans .row-card-plan .card2  {
    width: 100%;
    background-color: var(--yellow);
    padding: 18px 0;
    margin: 25px 0;
    font-family: "Gilroy";
    margin-bottom: 75px;
}
.content .plans .row-card-plan .card2 .content-card {
    margin: 0px 10px;
    border: 1px solid #182245;
    border-radius: 5px;
    padding: 18px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .plans .row-card-plan .card2 .content-card h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 17px;

}
.content .plans .row-card-plan .card2 .content-card .subtitle {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: var(--dark);
    margin-bottom: 25px;
}
.content .plans .row-card-plan .card2 .content-card ul {
    list-style: none;

}
.content .plans .row-card-plan .card2 .content-card ul li{
    margin: 32px 24px 32px 60px;
}
.content .plans .row-card-plan .card2 .content-card ul li::before {
    left: 60px;
    position: absolute;
    content: "✓";
    width: 15px;
    height: 11px;
    font-size: 25px;
    color: var(--dark);
}

.content .plans .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.content .plans p{
    margin: 16px;
}
.accordion {
    margin-top: 150px;
}
.accordion .title {
    font-family: "Gilroy-medium";
    color: var(--font-orange);
    text-align: center;
    font-size: 40px;
}

.collapse-accordion ul {
    font-family: "Gilroy-regular";
    list-style: none;
    margin: 0;
    padding: 0;
}
.collapse-accordion ul li {
    background-color: var(--white);
}
.collapse-accordion ul li p {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 1.2;
}
.collapse-accordion ul li p span{
    font-weight: 700;
}
.collapse-accordion ul li p a {
    color: var(--font-orange);
    text-decoration: none;
}

.collapse-accordion label {
    display: block;
    margin: 25px 0;
    cursor: pointer;
    color: var(--font-orange);
    font-family: "Gilroy-bold";
    padding: 10px 40px 10px 20px;
    height: 54px;
    box-sizing: border-box;
    border-bottom: none;
    background-color: var(--white);
    position: relative;
}

.collapse-accordion label:hover {
    background: var(--white);
}

.collapse-accordion label:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    text-indent: -9999px;
    border-bottom: 1px solid var(--dark);
    border-right: 1px solid var(--dark);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-decoration: none;
    color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: rotate(42deg);
    right: 15px;
    top: 50%;
    margin-top: -5px;
}

.collapse-accordion input[type="checkbox"]:checked+label:before {
    transform: rotate(-135deg);
}

.collapse-accordion input[type="radio"]:checked+label:before {
    transform: rotate(45deg);
    top: 20px;
}

.collapse-accordion label.last {
    border-bottom: 1px solid #fff;
}

.collapse-accordion ul ul li {
    padding: 5px 20px ;
    background: var(--white);
}


.collapse-accordion input[type="checkBox"] {
    position: absolute;
    left: -9999px;
}
.collapse-accordion input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.collapse-accordion input[type="checkBox"]~ul {
    height: 0;
    transform: scaleY(0);
  transition: transform .2s ease-out;
}
.collapse-accordion input[type="radio"]~ul {
    height: 0;
    transform: scaleY(0);
transition: transform .5s ease-out;
}

.collapse-accordion input[type="checkBox"]:checked~ul {
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1);
}

.collapse-accordion input[type="radio"]:checked~ul {
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1);
}

.collapse-accordion input[type="checkBox"]:checked+label {
    background: var(--white);
}
.collapse-accordion input[type="radio"]:checked+label {
}

.collapse-accordion input[type="checkbox"]:checked+label .collpaseText {
    display: block;
}
.collapse-accordion input[type="radio"]:checked+label .collpaseText {
    display: block;
}
.collpaseText {
    display: none;
}
.content footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 80px 0;
}
.content footer .privacity {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content footer a{
    text-align: center;
    text-decoration: none;
    color: var(--dark);
    padding: 0 20px;
}
.content footer span{
    width: 100%;
    margin-top: 16px;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .container {
    }
    .container .content {
    }
    .content .logo {
        height: 135px;
    }
    .content .logo img {
        position: absolute;
        top: 0px;
    }
    .container .bg-yellow-mobi {
        display: none;
    }
    .container .bg-yellow-desk {
        position: absolute;
        left: 0px;
        display: flex;
        width: 100%;
        z-index: -1;
    }
    .container .bg-yellow-desk img {
        width: 100vw;
    }
    .content .info-video .info{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
    }
    .content .info-video {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        
    }
    .content .info-video h2 {
        font-family: "Gilroy-bold";
        font-size: 42px;
        line-height: 1.2;
        font-weight: bold;
    }
    .content .info-video .video{
        width: 665px;
        height: 374px;
        position: initial;
        top: 0; 
        margin-left: 25px; 
    }
    .content .info .vertical-line {
        margin: 80px 0;
    }

    .content .info-video .info {
        width: 415px;
        margin-top: 0;
        text-align: left;
    }
    .content .info-video .info h2{
        font-size: 42px;
        color: var(--font-dark);
    } 
    .content .typewriter {
        flex-direction: row;
        position: relative;
        margin-top: 144px;
        position: relative;
        margin-bottom: 80px;
    }
    .content .typewriter .info h2 {
        font-family: "Gilroy-regular";
        font-size: 36px;
        line-height: 1.2;
    }
    .content .typewriter p {
        font-size: 20px;
    }
    .content .typewriter .machine {
        width: 373px;
        height: 324px;
        position: absolute;
        left: 100px;
    }
    .content .typewriter .book {
        position: absolute;
        display: initial;
        object-fit: contain;
        width: 373px;
        height: 324px; 
        right: 85px;
        top: 145px;        
    }
    .content .typewriter .info {
        width: 540px;
        
    }
    .cards .card .content-card {
        z-index: 10;
        padding: 35px 23px 35px 57px;
    }
    .cards .card {
        width: 47%;
        height: 386px;
        top: 0;
        position: relative;
        margin-bottom: 60px;
    }
    .cards .card .content-card .subtitle {
        font-size: 24px;
    }
    .cards .card .n-impar {
        display: flex;
        position:absolute;
        left: -195px;
        top: 20px;
    }
    .cards .card .n-impar img,
    .cards .card .n-par img {        
        z-index: -1;
        width: 228px;
        height: 138px;
        object-fit: contain;
    }
    .cards .card .n-par {
        display: flex;
        position:absolute;
        right: -207px;
        top: 20px;
    }
    .cards .card .content-card ul li{
        font-size: 18px;
        margin: 8px 0;
    }
    .content .infos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content .infos .info {
        text-align: center;
        width: 33%;
    }
    .content .infos .info h2{
        font-size: 36px;
        line-height: 1.2;
    }
    .content .infos .info p{
        font-size: 20px;
        line-height: 1.2;
        
    }
    .content .infos .info .info-img1{
        width: 812px;
        height: 457px;
    }
    .content .infos .info2 {
        display: flex;
        justify-content: flex-start;
        width: 65%;
        position: relative;
    }
    .content .infos .info2 .row {
        width: 685px;
    }
    .content .infos .info2 .row h2{
        font-size: 48px;
    }
    .content .infos .info2 .row p{
        width: 450px;
    }
    .content .infos .info2 .note-desk {
        display: flex;
        margin-top: 14rem;
        position: absolute;
        right: -190px;
    }
    .content .infos .info .info-img2 {
        width: 800px;
        height: 574px;
        margin-top: 25px;
        margin-bottom: 80px;
    }
    .content .plans .bg-blue-desk {
        display: flex;
        position: absolute;
        left: 0px;
        z-index: -1;
    }
    .content .plans .bg-blue-desk img {        
        width: 100vw;
        height: 100%;   
    }
    .content .plans .bg-blue-mobi{
        display: none;
    }
    .content .plans {
        font-family: "Gilroy";
    }
    .content .plans h2 {
        font-size: 36px;
        color: var(--yellow);
        line-height: 1.2;
    }
    .content .plans p {
        font-size: 20px;
        line-height: 1.2;
        color: var(--white);
        margin-top: 16px;
        font-size: 20px;
    }
    .content .plans .info1-plans {
        text-align: center;
        margin-top: 180px;
        width: 38%;
    }
    .content .plans .row-card-plan {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 107px;
    }
    .content .plans .row-card-plan .card2  {
        width: 360px;
    }
    .content .plans .row-card-plan .card2 .content-card {        
        height: 654px;       
    }
    .content .plans .row-card-plan .card2 .content-card .title{
        color: var(--dark);
    }
    .content .plans .row-card-plan .card2 .content-card .subtitle{
        font-size: 36px;
        font-family: "Gilroy-bold";
        margin-bottom: 24px;
    }
    .content .plans .row-card-plan .card2 .content-card ul{
        width: 90%;            
    }
    .content .plans .row-card-plan .card2 .content-card li{
        position: relative;
        margin: 24px 0 24px 35px;
    }
    .content .plans .row-card-plan .card2 .content-card ul li::before {
        left: -30px;
        position: absolute;
        content: "✓";
        width: 15px;
        height: 11px;
        font-size: 25px;
        color: var(--dark);
    }
    .content .plans .row-card-plan img{
        display: initial;
        margin-left: 70px;    
    }
    .content .plans .row-card-plan .card2  {
        margin-bottom: 0;
    }
    .content .plans .info {
        width: 38%;
    }
    .accordion {
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .collapse-accordion {
        max-width: 815px;
    }
    .collapse-accordion ul li p {
        font-size: 16px;
    }
}

@media screen and (max-width: 1667px) {
    .content .typewriter .book {
        top: 0;
        left: 0;
        position: relative;
    }
    .content .typewriter .machine {
        left: 0;
        position: relative;
    }
}